/******************/
/* General Styles */
/******************/

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
}
/******************/
/* Button Styles */
/******************/

.btn {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 20px;
  font-weight: 500;
  transition: all 0.3s;
  border: none;
  background-color: #161626;
  color: #fff;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #434273;
}

.btn--cta {
  font-size: 1.5rem;
}

/******************/
/* Keyframes */
/******************/

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/******************/
/*     Mobile     */
/******************/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
}

.icon-mobile-nav {
  height: 3.8rem;
  width: 3.8rem;
  color: #161626;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
